<center><h3><%=p2%>, guess a letter:</h3><p><h1><%=underscores%></h1>

<form action='guess' method='post'>
	<select name='guess_input'>
		<option value='a'>a</option>
		<option value='b'>b</option>
		<option value='c'>c</option>
		<option value='d'>d</option>
		<option value='e'>e</option>
		<option value='f'>f</option>
		<option value='g'>g</option>
		<option value='h'>h</option>
		<option value='i'>i</option>
		<option value='j'>j</option>
		<option value='k'>k</option>
		<option value='l'>l</option>
		<option value='m'>m</option>
		<option value='n'>n</option>
		<option value='o'>o</option>
		<option value='p'>p</option>
		<option value='q'>q</option>
		<option value='r'>r</option>
		<option value='s'>s</option>
		<option value='t'>t</option>
		<option value='u'>u</option>
		<option value='v'>v</option>
		<option value='w'>w</option>
		<option value='x'>x</option>
		<option value='y'>y</option>
		<option value='z'>z</option>
	</select>
	<input type='text' name='p2_name_input' value= <%=p2%> hidden>
	<input name='underscores' value= <%=underscores%> hidden>
	<input name='wrong' value= <%=wrong%> hidden>
	<input type="submit">
</form>
	<h4 style="font-family:arial">
	Every incorrect guess makes a petal fall. Don't let the rose die! <p>
	Remaining petals: <%=wrong%> <p>
	You have already guessed: <%=already%></h4></center>

<% if wrong == 6 %>
	<img style="height:15rem;width:auto" src= '/img/full_rose.png'>

<% elsif wrong == 5 %>
	<img style="height:15rem;width:auto"src= '/img/1_rose.png'>

<% elsif wrong == 4 %>
	<img style="height:15rem;width:auto"src= '/img/2_rose.png'>

<% elsif wrong == 3 %>
	<img style="height:15rem;width:auto"src= '/img/3_rose.png'>

<% elsif wrong == 2 %>
	<img style="height:15rem;width:auto"src= '/img/4_rose.png'>

<% elsif wrong == 1 %>
	<img style="height:15rem;width:auto"src= '/img/5_rose.png'>

<% end %>
















