<center><h3><%=p2%>, guess a letter:</h3><p><h1><%=underscores%></h1>

<form action='guess' method='post'>
	<select name='guess_input'>

		<%if already.include?('A') == false %>
			<option value='A'>A</option>
		<% end %>

		<%if already.include?('B') == false %>
			<option value='B'>B</option>
		<% end %>

		<%if already.include?('C') == false %>
			<option value='C'>C</option>
		<% end %>

		<%if already.include?('D') == false %>
			<option value='D'>D</option>
		<% end %>

		<%if already.include?('E') == false %>
			<option value='E'>E</option>
		<% end %>

		<%if already.include?('F') == false %>
			<option value='F'>F</option>
		<% end %>

		<%if already.include?('G') == false %>
			<option value='G'>G</option>
		<% end %>

		<%if already.include?('H') == false %>
			<option value='H'>H</option>
		<% end %>

		<%if already.include?('I') == false %>
			<option value='I'>I</option>
		<% end %>

		<%if already.include?('J') == false %>
			<option value='J'>J</option>
		<% end %>

		<%if already.include?('K') == false %>
			<option value='K'>K</option>
		<% end %>

		<%if already.include?('L') == false %>
			<option value='L'>L</option>
		<% end %>

		<%if already.include?('M') == false %>
			<option value='M'>M</option>
		<% end %>

		<%if already.include?('N') == false %>
			<option value='N'>N</option>
		<% end %>

		<%if already.include?('O') == false %>
			<option value='O'>O</option>
		<% end %>

		<%if already.include?('P') == false %>
			<option value='P'>P</option>
		<% end %>

		<%if already.include?('Q') == false %>
			<option value='Q'>Q</option>
		<% end %>

		<%if already.include?('R') == false %>
			<option value='R'>R</option>
		<% end %>

		<%if already.include?('S') == false %>
			<option value='S'>S</option>
		<% end %>

		<%if already.include?('T') == false %>
			<option value='T'>T</option>
		<% end %>

		<%if already.include?('U') == false %>
			<option value='U'>U</option>
		<% end %>

		<%if already.include?('V') == false %>
			<option value='V'>V</option>
		<% end %>

		<%if already.include?('W') == false %>
			<option value='W'>W</option>
		<% end %>

		<%if already.include?('X') == false %>
			<option value='X'>X</option>
		<% end %>

		<%if already.include?('Y') == false %>
			<option value='Y'>Y</option>
		<% end %>

		<%if already.include?('Z') == false %>
			<option value='Z'>Z</option>
		<% end %>

	</select>
	<input type='text' name='p2_name_input' value= <%=p2%> hidden>
	<input name='underscores' value= <%=underscores%> hidden>
	<input name='wrong' value= <%=wrong%> hidden>
	<input type="submit">
</form>
	<h4 style="font-family:arial">
	Every incorrect guess makes a petal fall. Don't let the rose die! <p>
	Remaining petals: <%=wrong%> <p>
	You have already guessed: <%=already%></h4></center>

<% if wrong == 6 %>
	<img style="height:15rem;width:auto" src= '/img/full_rose.png'>

<% elsif wrong == 5 %>
	<img style="height:15rem;width:auto"src= '/img/1_rose.png'>

<% elsif wrong == 4 %>
	<img style="height:15rem;width:auto"src= '/img/2_rose.png'>

<% elsif wrong == 3 %>
	<img style="height:15rem;width:auto"src= '/img/3_rose.png'>

<% elsif wrong == 2 %>
	<img style="height:15rem;width:auto"src= '/img/4_rose.png'>

<% elsif wrong == 1 %>
	<img style="height:15rem;width:auto"src= '/img/5_rose.png'>

<% end %>
















