<center><h3><%=p2%>, guess a letter:</h3><p><h1><%=underscores%></h1>

<form action='guess' method='post'>
	<select name='pick a letter'>
		<option>a</option>
		<option>b</option>
		<option>c</option>
		<option>d</option>
		<option>e</option>
		<option>f</option>
		<option>g</option>
		<option>h</option>
		<option>i</option>
		<option>j</option>
		<option>k</option>
		<option>l</option>
		<option>m</option>
		<option>n</option>
		<option>o</option>
		<option>p</option>
		<option>q</option>
		<option>r</option>
		<option>s</option>
		<option>t</option>
		<option>u</option>
		<option>v</option>
		<option>w</option>
		<option>x</option>
		<option>y</option>
		<option>z</option>
	</select>
	<input type='text' name='p1_name_input' value= <%=p1%> hidden>
	<input type='text' name='p2_name_input' value= <%=p2%> hidden>
	<input name='underscores' value= <%=underscores%> hidden>
	<input name='countdown' value= <%=countdown%> hidden>
	<input type="submit">
</form>
	<h3>Remaining incorrect guesses: <%=countdown%> </h3></center>

