<center><h1><%=p2%> guessed the word! Nice try <%=p1%>, but <%=p2%> wins!</h1>

<input type='text' name='p1_name_input' value= <%=p1%> hidden>
<input type='text' name='p2_name_input' value= <%=p2%> hidden></center>